<!-- h1{ color:green; } -->
h1{ color: #000080; }
body{background-color:#00ffff}
h1{
  background
  width:1250px;
  height: 100px;
  text-align: center;
  font-weight: bold;
}
body{text-align: center;}
div#pageWrapper {
         width: auto;
         margin-right:auto;
         margin-left:  auto;
         padding-top: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
         padding-left: 10px;
 }